:root {
    --Heading2: 'Manjari', sans-serif;
    --mainContent: font-family: 'Poiret One', cursive;
    --blue: #cae0e9;
    --black: #031e33;
    --grey: #c7c6c6;
    --yellow: #F6DB8E;
}

body {
    font-family: var(--Heading2);
    background-color: white;
}
.navbar{
    background-color: var(--blue);
}
.navbar-brand{
    font-family: var(--Heading2);
    font-size: 2.5rem;
    color: var(--black);
}
#searchResults{
    font-size: 2em;
    text-align: center;
}
.card{
    border-radius: 15px;
    border: 3.5px solid var(--blue);
    margin: 5px;
    padding: 1em;
}
li{
    list-style-type: none;
    font-size: 20px;
}
li:hover{
    color: var(--yellow);
    text-decoration: underline;
}
img{
    height: 100px;
    width: 100px;
    padding: 1em;
   
}
#search-btn:hover{
    background-color: var(--yellow);
    border: none;
    color: var(--black);
}
h5{
    font-size: 15px;
    padding: 0.3em;
}