:root {
    --Heading2: 'Manjari', sans-serif;
    --mainContent: font-family: 'Poiret One', cursive;
    --blue: #cae0e9;
    --black: #031e33;
    --grey: #c7c6c6;
    --yellow: #F6DB8E;

}

body {
    font-family: var(--Heading2);
    background-color: white;
}
.navbar{
    background-color: var(--blue);
}
.navbar-brand{
    font-family: var(--Heading2);
    font-size: 2.5rem;
    color: var(--black);
}
.card{
    border-radius: 15px;
    border: 2.5px solid var(--blue);
    margin: 5px;
}
.temperature{

}
.humidity{

}
.wind{

}

