:root {

    --Heading1: font-family: 'Abril Fatface', cursive;
    --Heading2: font-family: 'Manjari', sans-serif;
    --mainContent: font-family: 'Poiret One', cursive;
    --blue: #b9EBFF;
    --yellow: #FFE995;
    --white: #F5F1DD;
    --black: #031e33;
    --grey: #b4b9bb;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}